<div class="container">
  <div class="row">
    <%= render 'books/user', user: @user, book: @book %>
    <div class="col-md-8">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
        <% @books.each do |book| %>
        <tr>
          <td>
            <a href="/users/id">
              <img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg">
              <br>
              <%#= user.name %>
            </a>
          </td>
          <td>
            <a class="book_id" href="/books/id"><%= book.title %></a>
          </td>
          <td>
            <%= book.body %>
          </td>
          <td>
            <%= link_to "edit", edit_book_path(book.id), class: "btn btn-sm btn-success destroy_book_id" %>
          </td>
          </td>
          <td>
            <%= link_to "destroy", book_path(book.id), class: "btn btn-sm btn-danger destroy_book_id", method: :delete %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

